<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li id="home"><a href="search"><i class="fa fa-home"></i> Home</a></li>
          <li id="help"><a href="help"><i class="fa fa-question-circle"></i> How to</a></li>
          <li id="about"><a href="about"><i class="fa fa-info-circle"></i> About</a></li>
        </ul>
        <form class="navbar-form navbar-left" method="GET" action="results" role="search">
          <div class="form-group">
            <input type="text" name="quick_search" style="font-family: antinoouRegular" id="quick_search" class="form-control" placeholder="Quick Search">
          </div>
          <button type="submit" class="btn btn-default"><i class="fa fa-search"></i> Go</button>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li><a style="padding-top: 5px;" href="http://dhawards.org/dhawards2019/results/" target="_blank"><img src="img/CDO_DH_awards_2019.png?v2"/ style="height: 40px; float: right;"></a></li>
          <li><a href="http://kellia.uni-goettingen.de/" class="kellia">KELLIA</a></li>
        </ul>
    </div>
  </nav>